# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/*.tfplan
**/tfplan
*.tfstate
*.tfstate.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
